body{
    padding: 0;
    margin: 0;
    background-color: #ECDFBF;
    text-align: center;
}

.nav-bar{
    width: 100%;
    text-align: center;
}

.nav-bar > nav > ul{
    width: 60%;
    margin-left: 20%;
}

.message{
    text-align: center;
    color: #2F7827;
    width: 100%;
    height: 120px;
}

.message h2{
    padding: 40px;
}


a{
    text-decoration: none;
    color: #00755D;
}

a > div{
    color: #ECDFBF;
}

i{
    width: 100px;
    height: 100px;
    font-size: 60px;
    color: #ECDFBF;
}

.item-1{
    grid-area: facebook;
}

.item-2{
    grid-area: email;
}

.item-3{
    grid-area: instagram;
}

.item-4{
    grid-area: messenger;
}

.grid-item{
    text-align: center;
    padding: 15%;
    background-color: #009176;
    border: 1px solid #009176;
    border-radius: 5px;
}

.social-grid-container{
    display: grid;
    grid-gap: 4px;
    margin: 4px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr;
    grid-template-areas: 
    'facebook email instagram messenger';
}

@media only screen and (max-width: 500px){
    
    .nav-bar > nav > ul{
        width: 100%;
        margin: auto;
        padding-top: 16px;
    }
    
    .message{
        height: 160px;
    }
    
    .social-grid-container {
        display: grid;
        grid-gap: 4px;
        margin: 4px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            'facebook email'
            'instagram messenger';
    }
}

