body{
    padding: 0;
    margin: 0;
    text-align: center;
}

h1{
	color: blue;
}

img{
    width: 100%;
}

.item-0{
    grid-area: name;
}

.item-1{
    grid-area: image;
}

.grid-container{
    display: grid;
    grid-template-columns: 35% auto;
    grid-template-rows: auto;
    grid-template-areas: 'image name'
}

@media only screen and (max-width: 500px) {
    
    
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            'name'
            'image';
    }
}