body{
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #ECDFBF;
    
}

h1{
	color: #009176;/*#2F7827;/*#8BBC3E;/*#3E783B; /*#1A5B30;*/
    font-size: 42px;
    
}

h2::selection, h1::selection, a::selection, div::selection{
    background: #FC8C78; /*#F1DFD6;/*#9D6B52;/*#3D351B;*/
}

h2{
    font-size: 18px;
    color: #00755D;/*#1A5B30;*/
}


img{
    width: 100%;
    height: 100%;
}

.item-0{
    grid-area: name;
    background-color: #ECDFBF;
    height: 100%;
}

.item-10{
    grid-area: image;
    height: 100%;
}

.grid-container{
    display: grid;
    grid-template-columns: 35% auto;
    grid-template-rows: auto;
    grid-template-areas: 'image name';
}

nav{
    width: 100%;
    height: 80px;
    
}

ul{
    list-style: none;
    width: 100%;
    padding: 0;
}

ul li{
    float: left;
    width: 31%;
    padding: 1%;
}

a{
    text-decoration: none;
    color: #00755D;/*#F2FEDC;/*#1A5B30;*/
    font-weight: bold;
}



@media only screen and (max-width: 500px) {
    
    
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.6fr 1fr;
        grid-template-areas:
            'name'
            'image';
    }
}